.productDiv{
    width: 400px;
    text-align: center;
    padding: 20px;
}

.productImage{
    margin-bottom: 20px;
    max-width: 150px;
}

.headerBoxTitle{
    font-weight: 300;
    text-align: center;
    margin-bottom: 14px;
}

.headerBoxDescription{
    width: fit-content;
    margin-bottom: 20px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.productPrice{
    margin-bottom: 10px;
}